/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* need style for:

.seperator

#Header
    #Adress
    #Logo
    

Main
    .container
    .qTag
    .Question
    .aTag
    .Answer

#total

#citation

#footer

#qr
